<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/commons::head}">

</head>
<body>

<header th:include="~{fragments/commons::navbar}">

</header>
<div class="text-center my-3">
    <a type="button" th:href="@{/articles/add}" class="btn btn-primary btn-lg btn-block w-50">Add Article</a>
</div>

<div class="row justify-content-around mt-5">
    <div th:each="article : ${articles}" class="card text-white bg-success mb-3 col-6" style="max-width: 18rem;">
        <div class="card-header" th:text="${article.getAuthor().getUsername()}">Header</div>
        <div class="card-body">
            <h5 class="card-title" th:text="|Author : ${article.getTitle()}|">Success card title</h5>
            <p class="card-text" th:text="${article.getShortDescription()}">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a class="btn btn-primary" th:href="@{/articles/get/{id}(id = ${article.getId()})}" type="button">Learn More</a>
        </div>
    </div>
</body>
</html>