<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body>

<header th:replace="~{fragments/commons::navbar}">

</header>
<div class="container mt-4">
    <div class="text-center">
        <h2>Edit Recipe</h2>
    </div>
    <form th:action="@{/recipes/edit/{rId}(rId=${singleRecipe.getId()})}"
          th:method="POST" th:object="${singleRecipe}" id="editRecipe">
        <div class="form-group col-md-8 m-auto mb-3 ">
            <label for="recipeName" class="mb-1" >Recipe Name</label>
            <input type="text" th:field="*{name}" th:errorclass="bg-danger" class="form-control"
                   id="recipeName" placeholder="Give your recipe a name">
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-text text-muted error"></small>
        </div>
        <div class="form-group col-md-8 m-auto mb-3">
            <label for="textContent" class="mb-1">Text Content</label>
            <textarea form="editRecipe" class="form-control" th:field="*{textContent}" th:errorclass="bg-danger"
                      id="textContent" placeholder="Tell us the recipe"></textarea>
            <small th:if="${#fields.hasErrors('textContent')}"  th:errors="*{textContent}" class="form-text text-muted"></small>
        </div>
        <div class="form-group col-md-8 m-auto mb-3">
            <label for="imageURL" class="mb-1">Image Url</label>
            <input type="text" class="form-control" th:field="*{imageURL}" th:errorclass="bg-danger"
                   id="imageURL" placeholder="Every recipe needs a picture">
            <small th:if="${#fields.hasErrors('imageURL')}" th:errors="*{imageURL}" class="form-text text-muted"></small>
        </div>
        <div class="form-group col-md-8 m-auto mb-3">
            <label for="shortDescription" class="mb-1">Short description</label>
            <input type="text" class="form-control" th:field ="*{shorDescription}"  th:errorclass="bg-danger"
                   id="shortDescription" placeholder="Give us a short description">
            <small th:if="${#fields.hasErrors('shorDescription')}" th:errors="*{shorDescription}" class="form-text text-muted"></small>
        </div>
        <div class="mt-4 text-center">
            <button class="btn btn-primary m-auto" type="submit">Submit</button>
        </div>
    </form>
</div>

</body>
</html>