<!DOCTYPE html>
<style>
    body {
        background-image: url("https://envato-shoebox-0.imgix.net/15ab/eaec-f554-4e11-9862-36e1c27f6144/AD4A7609.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=1de79af3e9d04c6254bbb6f1f377cfbb");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
</style>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}">

</head>
<body>

<header th:replace="~{fragments/commons::navbar}">

</header>
<main>

    <div class="container marketing mt-lg-3">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-6">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h2 class="fw-bold">Check out our recipes</h2>
                <p>People say you are what you eat . Check out our deliciuos and healthy recipes . </p>
                <p><a class="btn btn-secondary" th:href="@{/recipes/all}">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-6">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                <h2 class="fw-bold">Check out our Articles</h2>
                <p>Explore what is in the food we eat and why it is healthy . Add your own article ...</p>
                <p><a class="btn btn-secondary" th:href="@{/articles/all}">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Recipes <span class="text-muted text-success"> Add your own!</span></h2>
                <p class="lead text-primary">Healthy ways is place where you can find ways to cook your food in healthy way , and at the
                same time to be very delicious.In our every one can share tasty meals he/she already tried.</p>
            </div>
            <div class="col-md-5">
                <img src="img/recipe-pic1.jpg" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Articles<span class="text-muted text-success"> Examine the food we eat.</span></h2>
                <p class="lead text-primary">You are curious about the food you eat , what is in it , why it is beneficial for your body , check out
                our articles , where you can find much info . Write you own article and share your knowledge with the rest of our
                subscribers</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="img/recipe-pic1.jpg" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted text-success"> Checkmate.</span></h2>
                <p class="lead text-primary">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
            </div>
            <div class="col-md-5">
                <img src="img/recipe-pic1.jpg" alt="">

            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

</main>
</body>
</html>