<!doctype html>

<style>
    form {
        width : 60%;
        margin: auto;
    }
    main {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    body {
        background-image: url("https://dwdqz3611m4qq.cloudfront.net/wp_content/uploads/staying-healthy-while-running-your-business-twitter-1024x538.jpg");
        opacity: 0.7;
    }
</style>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:include="~{fragments/commons::head}">

    </head>
    <body class="text-center m-auto">

    <main class="form-signin container" >
        <form class="row mt-5" th:method="POST" th:action="@{/users/login}" th:object="${loginBindingModel}" >
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating my-3">
                <input th:field="*{username}" th:errorclass="bg-danger" name="username" type="username" class="form-control col-lg-4" id="floatingInput" placeholder="Enter username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating my-3">
                <input th:field="*{password}" name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <p th:if="${error}">BAD CREDENTIALS!</p>
            <div>
                <a th:href="@{/users/register}">Sign up ,if you don't have account</a>
            </div>
            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign in</button>
        </form>
    </main>

    </body>
</html>