<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4 class="mb-3 align-content-center">NAME OF ARTICLE</h4>
<div class="border border-dark rounded mt-3 overflow-auto container" style="height: 70vh;width: 70%">

    <article class="justify-content-center" style="height: 80%">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dignissimos, eaque eos excepturi, facere hic molestiae neque nulla, numquam soluta temporibus
        tenetur voluptatem voluptatum! Consequuntur dignissimos eveniet explicabo nostrum rerum!
    </article>

</div>
<div class="me-1">
    <span> Author : </span>
    <span>Created on :</span>
</div>
</body>
</html>