<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/commons::head}">

</head>
<body>
<header th:replace="~{fragments/commons::navbar}">

</header>
<div class="container" style="height: 70vh;width: 65%" th:object="${_article}">
    <h4 style="width: fit-content" class="mx-auto my-3">NAME OF ARTICLE</h4>

        <div class="float-end ">
            <a th:href="@{/articles/edit/{aId}(aId=*{getId()})}" class="btn btn-outline-info">Edit</a>
            <a  th:href="@{/articles/delete/{aId}(aId=*{getId()})}" class="btn btn-outline-info">Delete</a>
        </div>

    <article class="justify-content-center border border-dark rounded mt-3 overflow-auto p-3"
             style="height: 90%;overflow: scroll">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dignissimos, eaque eos excepturi, facere hic
        molestiae neque nulla, numquam soluta temporibus
        tenetur voluptatem voluptatum! Consequuntur dignissimos eveniet explicabo nostrum rerum!
    </article>
    <div class="container-fluid">
        <span> Author : Some author </span>
        <span class="float-end">Created on : Some static content</span>

    </div>

</div>
</body>
</html>