<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{fragments/commons::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:include="~{fragments/commons::navbar}">

</header>

<div class="container min-vh-100 min-vw-80 justify-content-center" th:object="${singleRecipe}">
    <div class="text-center my-3">
        <h2 th:text="*{getName()}">Title of recipe</h2>
    </div>
    <div class="container-fluid">
        <a class="btn btn-outline-info">Like</a>
        <div class="float-end ">
            <a class="btn btn-outline-info">Edit</a>
            <a class="btn btn-outline-info">Delete</a>
        </div>

    </div>
    <div class="col-12 border min-vh-80 border-dark m-auto">
        <div class="row mt-2 ms-2">
            <div class="col-6">
                <img class="mh-100 mw-100"
                     th:src="*{getImageURL()}"
                     alt="Some pic">
            </div>
            <div class="col-4">
                <article th:text="*{getTextContent()}">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur delectus eos est et
                    excepturi facere, in inventore laboriosam laudantium minima
                    molestias mollitia neque possimus quasi quisquam tempore veritatis voluptates.
                </article>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <span th:text="|Author : *{getAuthor().getUsername()}|"> </span>
        <span class="float-end" th:text="|Created on : *{getCreatedOn()}|"></span>
    </div>
</div>

</body>
</html>